body {
    min-height: 100vh;
    padding: 0 15%;
}

.main-div {
    height: 250px;
}

header p {
    padding: 10px;
}


/* -- Flexbox -- */

.flex-container-row {
    display: flex;
}

.flex-item {
    flex: 1;
}

.right-align {
    justify-content: right;
}


/* -- Borders to assist in figuring out page layout */

body, .header-center, p {
    border: 4px solid orange;
}

.flex-container-row {
    border: 4px solid orange;
    background-color: peachpuff;
}

main {
    border: 2px solid red;
}

footer {
    border: 2px solid green;
}