body {
    min-height: 100vh;
    padding: 0 15%;
}

.main-div {
    height: 250px;
}

header p {
    padding: 10px;
}


/* -- Flexbox -- */

.flex-container-row {
    display: flex;
}

.flex-container-col {
    display: flex;
    flex-direction: column;
}

.flex-item {
    flex: 1;
}

.right-align {
    justify-content: right;
}

.center {
    justify-content: center;
}


/* -- Borders to assist in figuring out page layout */

body, .header-center, p, h2 {
    border: 4px solid orange;
}

img {
    background-color: gray;
}

.flex-container-row {
    border: 4px solid orange;
    background-color: peachpuff;
}

main {
    border: 2px solid red;
}

footer {
    border: 2px solid green;
}
