/* -- Structuring Page and Text -- */

body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.main-div {
    height: 50vh;
}

header, #div-1, #div-4 {
    padding: 0 10rem;
}

#div-2 {
    padding: 0 12rem;
}

#div-3 {
    padding: 0 15rem;
}

header p {
    padding: 0 10%;
}

.small-img {
    height: 150px;
    width: 150px;
}

.vertical-pad {
    padding: 10vh 0;
}

.border-box {
    box-sizing: border-box;
}

.center-text {
    text-align: center;
}

.remove-margin-top {
    margin-top: 0px;
}

.remove-margin-bottom {
    margin-bottom: 0px;
}

.margin-left {
    margin-left: 10vh;
}

.margin-right {
    margin-right: 10vh;
}

.right-text {
    text-align: right;
}

button {
    height: 30px;
    width: 90px;
}

#div-1 img {
    padding: 15% 10%;
}


/* -- Flexbox -- */

.flex-container-row {
    display: flex;
}

.flex-container-col {
    display: flex;
    flex-direction: column;
}

.flex-item {
    flex: 1;
}

.double-flex {
    flex: 2;
}

.right-align {
    justify-content: right;
}

.center {
    justify-content: center;
}

.space-around {
    justify-content: space-around;
}

.center-align {
    align-items: center;
}


/* -- Font Sizing and Styling -- */

* {
    font-family: 'Rubik', 'Raleway', sans-serif;
}

#header-logo {
    font-size: 24px;
    font-weight: 700;
}

.secondary-text {
    font-size: 18px;
}

.tertiary-text {
    font-size: 14px;
}

h1 {
    font-size: 48px;
    font-weight: 900;
}

h2 {
    font-size: 36px;
    font-weight: 800;
}

#quote-text {
    font-size: 36px;
    font-weight: 200;
    font-style: italic;
}

.bold {
    font-weight: bold;
}


/* -- Colors -- */

/*
* Dark 1 - #313866
* Dark 2 - #504099
* Light 1 - #974EC3
* Light 2 - #FE7BE5
*/

header, #div-1, footer {
    background-color: #313866;
    color: white;
}

#div-3 {
    background-color: #504099;
    color: white;
}

footer p {
    margin: 0;
    padding: 3%;
}


.button-dark {
    border: 4px solid #974EC3;
    background-color: #974EC3;
    color: white;
    border-radius: 10px;
}

.button-light {
    border: 3px solid white;
    color: white;
    background-color: #974EC3;
    border-radius: 10px;
}

.small-img {
    border: 4px solid #974EC3;
    border-radius: 10px;
}